.h1
  = @task.description

%ol.breadcrumb
  %li
    %a{:href => projects_path}Projects
  %li
    %a{:href => project_path(@project)}=@project.proj_name
  %li
    %a{:href => project_tasks_path(@project)}Tasks
  %li.active
    Show


%p
  %b Due Date:
  - if @task.due_date
    = @task.due_date.strftime("%m/%d/%Y")

%p
  %b Complete?
  = @task.complete
