= form_for(@user, html:{class: "form-horizontal"}) do |f|

  .form-group
    =f.label :"First Name", class: "col-sm-2 control-label"
    .col-sm-3
      =f.text_field :first_name, class: "form-control"

  .form-group
    =f.label :"Last Name", class: "col-sm-2 control-label"
    .col-sm-3
      =f.text_field :last_name, class: "form-control"

  .form-group
    =f.label :"Email", class: "col-sm-2 control-label"
    .col-sm-3
      =f.text_field :email, class: "form-control"

  .actions.form-group
    .col-sm-offset-2.col-sm-10
      =f.submit class: "btn btn-primary"
