.container
  .h1
    Users
    =link_to 'Create User', new_user_path, class: "btn btn-info pull-right"
  %table.table
    %tr
      %th
        %h5 Name
      %th
        %h5 Email
      %th

    -@users.each do |user|
      %tr
        %td
          =link_to user.first_name, user
          =link_to user.last_name
        %td
          %a(href= "mailto:#")=user.email

        %td
          = link_to "Edit", edit_user_path(user), class: "btn btn-primary pull-right"
