.container
  .page-header
    %h1
      =@user.first_name
      =@user.last_name
  %p
    %b First Name:
    = @user.first_name
  %p
    %b Last Name:
    = @user.last_name
  -if @user.id == current_user.id || current_user.admin
    %p
      %b Email
      %a(href= "mailto:#")=@user.email
    %p
      %b Pivotal Tracker Token
      -if @user.pivot_token?
        = @user.pivot_token

    = link_to "Edit", edit_user_path(@user), class: "btn btn-primary"
