.container{style: 'text-align: center;'}
  .h1{style: 'padding-top: 40px'} About
  .p Get organized and increase productivity with your team
  = image_tag('https://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg', style: 'margin: auto; padding: 25px;')
