.container{style: 'text-align: center;'}
  .h1{style: 'padding-top: 40px'} About
  .p Get organized and increase productivity with your team
  = image_tag('meeting.png', style: 'margin: auto; padding: 25px;')
