.container
  .h1{style: 'margin-top: 75px; padding: 20px'} Terms
  .p gCamp is not responsible for anything, unless positive
  .p You may not take us to court, for anything... ever.

.container
  %footer{style: "padding-bottom:25px;"}
  %hr.style-one
  .p
    = link_to_unless_current("About", about_path)
    |
    = link_to_unless_current("Terms", terms_path)
    |
    = link_to_unless_current("FAQ", faq_path)
