.container
  .h1 Terms
  .p gCamp is not responsible for anything, unless positive
  .p You may not take us to court, for anything... ever.

.container
  %footer{style: "padding-bottom:25px;"}
  %hr.style-one
  .p
    = link_to_unless_current("about", about_path)
    |
    = link_to_unless_current("terms", terms_path)
    |
    = link_to_unless_current("faq", faq_path)
    |
    = link_to_unless_current("tasks", tasks_path)
