=form_for(@project, html:{class: "form-horizontal"}) do |f|


  .form-group
    =f.label 'Project Name', class: 'control-label col-sm-2'
    .col-sm-3
      =f.text_field :proj_name, class:"form-control"

  .form-group
    =f.submit class: 'btn btn-primary col-sm-offset-2'
