=form_for(@project, html:{class: "form-horizontal"}) do |f|


  .form-group
    =f.label :proj_name, "Name", class: 'col-sm-1 control-label'
    .col-sm-3
      =f.text_field :proj_name, class:"form-control"

  .form-group
    .col-sm-offset-1.col-sm-10
      =f.submit class: 'btn btn-primary'
