.container
  %h1
    = @project.proj_name
    .pull-right
      = link_to "Edit", edit_project_path, class: "btn btn-primary"
      = link_to "Destroy", @project, method: :delete, data: {confirm: "Are you sure?"} class: "btn btn-danger"
